<div id="head">

  <div class="card-columns">

    <div class="card card-inverse" *ngFor="let coin of coins">

      <!--<a (click)="coinDetails(coin.id)">-->
      <a [routerLink]="['/selected', coin.CoinInfo.Name]" style="text-decoration:none">

        <div class="card-header">
          <span>{{coin.CoinInfo.FullName}}</span>
          <span style="float: right; color:goldenrod; font-size:12px">{{ coin.RAW.USD.LASTUPDATE * 1000 | timeago }}</span>
        </div>

        <div class="card-block">

          <div class="row">

            <div class="col-4">
              <img src="https://www.cryptocompare.com{{coin.CoinInfo.ImageUrl}}" id="img-coin">
            </div>

            <div class="col-8">
              <p class="card-text">{{coin.RAW.USD.PRICE | currency:'USD'}}</p>
              <p *ngIf="coin.RAW.USD.CHANGEPCT24HOUR < '0'" style="color:red">{{coin.RAW.USD.CHANGEPCT24HOUR | number: '1.0-2'}}% &darr;</p>
              <p *ngIf="coin.RAW.USD.CHANGEPCT24HOUR > '0'" style="color:greenyellow">{{coin.RAW.USD.CHANGEPCT24HOUR | number: '1.0-2'}}% &uarr;</p>
            </div>

          </div>

        </div>
      </a>
    </div>

  </div>

</div>
