<div id="head">

  <div class="card-columns">

    <div class="card card-inverse" *ngFor="let coin of coins">

      <a (click)="coinDetails(coin.id)">
        
        <div class="card-header">
          <span id="title">{{coin.name}}</span>
        </div>

        <div class="card-block">
          
          <div class="row">
            <div class="col-4">
              <img *ngIf="coin.name == 'Bitcoin'"  src="./assets/image/coin-1.png" id="img-coin">
              <img *ngIf="coin.name == 'Ethereum'"  src="./assets/image/coin-2.png" id="img-coin">
              <img *ngIf="coin.name == 'NEM'"  src="./assets/image/coin-3.png" id="img-coin">
              <img *ngIf="coin.name == 'Stratis'"  src="./assets/image/coin-4.png" id="img-coin">
              <img *ngIf="coin.name == 'Dash'"  src="./assets/image/coin-5.png" id="img-coin">
              <img *ngIf="coin.name == 'Ethereum Classic'"  src="./assets/image/coin-6.png" id="img-coin">
              <img *ngIf="coin.name == 'Litecoin'"  src="./assets/image/coin-7.png" id="img-coin">
              <img *ngIf="coin.name == 'Monero'"  src="./assets/image/coin-8.png" id="img-coin">
              <img *ngIf="coin.name == 'Ripple'"  src="./assets/image/coin-9.png" id="img-coin">
              <img *ngIf="coin.name == 'IOTA'"  src="./assets/image/coin-10.png" id="img-coin">
              <img *ngIf="coin.name == 'Bitcoin Cash'"  src="./assets/image/coin-11.png" id="img-coin">
              <img *ngIf="coin.name == 'NEO'"  src="https://files.coinmarketcap.com/static/img/coins/128x128/neo.png" id="img-coin">
              <img *ngIf="coin.name == 'Qtum'"  src="https://files.coinmarketcap.com/static/img/coins/128x128/qtum.png" id="img-coin">
              <img *ngIf="(coin.name !== 'Bitcoin Cash') 
                && (coin.name !== 'Bitcoin') 
                && (coin.name !== 'Ethereum')
                && (coin.name !== 'NEM')
                && (coin.name !== 'Stratis')
                && (coin.name !== 'Dash')
                && (coin.name !== 'Ethereum Classic')
                && (coin.name !== 'Litecoin')
                && (coin.name !== 'Monero')
                && (coin.name !== 'Ripple')
                && (coin.name !== 'NEO')
                && (coin.name !== 'Qtum')
                && (coin.name !== 'IOTA')"  src="./assets/image/error.png" id="img-coin">
            </div>

            <div class="col-8">
              <p class="card-text">{{coin.price_usd | currency:'USD':true:'1.2-2'}}</p>
              <p id="_24h" *ngIf="coin.percent_change_24h < '0'" style="color:red">{{coin.percent_change_24h}}% &darr;</p>
              <p id="_24h" *ngIf="coin.percent_change_24h > '0'" style="color:greenyellow">{{coin.percent_change_24h}}% &uarr;</p>
             
            </div>
          </div>

        </div>
      </a>
    </div>

  </div>

</div>
