<div id="head">
<div id="back">
  <a class="carousel-control-prev" [routerLink]="['/home']" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="card">

        <div class="card-header">What is this?</div>
        <div class="card-block">
          <p class="card-text">
            Cryptocurrencies emerged in 2009 with the first decentralized cryptocurrency - <a href="https://bitcoin.org/en/"> Bitcoin</a> .  As of today - more than 700 digital
            currencies exist with a total market capitalization greater than 100 billion USD.</p>
          <br>
          <p class="card-text">
            CryptoMünze is a real-time dashboard that displays the top 10 cryptocurrencies based on currency price, market capitalization
            and overall circulating supply - obtained from the leading cryptocurrency resource <a href="https://coinmarketcap.com/">CoinMarketCap.</a></p>
        </div>

      </div>

    </div>

  </div>

  <div class="row" id="img">

    <div class="col">
     
    </div>

    <div class="col-1">
      <div class="text-center">
        <a href="https://angular.io/"><img src="./assets/image/ang.png" class="rounded" id="img-coin" alt="Angular"></a>
      </div>
    </div>

    <div class="col-1">
       <div class="text-center">
        <a href="https://www.npmjs.com/"><img src="./assets/image/npm.png" class="rounded" id="img-coin" alt="NPM"></a>
      </div>
    </div>

    <div class="col-1">
       <div class="text-center">
        <a href="https://v4-alpha.getbootstrap.com/"><img src="./assets/image/bootstrap.png" class="rounded" id="img-coin" alt="Bootstrap"></a>
      </div>
    </div>

    <div class="col-1">
       <div class="text-center">
        <a  href="https://github.com/marcionitao/munze/"><img src="./assets/image/if_github_317712.png" class="rounded" id="img-coin" alt="Github"></a>
      </div>
    </div>

  </div>
</div>
</div>
