
.card {
  min-width: 30em;
  max-width: 100em;
  margin: 0 auto;
  float: none;
  border-color: rgba(255, 255, 255, 0.2);
   background-color: transparent;
}

.card-text {
  vertical-align: middle;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;
  color: white;
  margin-bottom: 2px;
}

.card-header {
  background-color: transparent;
  color: gold;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}

.carousel-control-prev {
  width: 5%;
}

#back {
  text-align: center;
  vertical-align: middle;
}
