<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="head">

  <a class="navbar-brand" [routerLink]="['/home']">
     <img src="../assets/img/logo_2.png" id="img">
     <span id="title">CryptoMünze</span>
  </a>

  <div class="collapse navbar-collapse justify-content-end">
    <div class="nav navbar-nav" id="about-border">
      <div class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/about']" id="about">What is this?</a>
      </div>
    </div>
  </div>

</nav>

<div>
  <router-outlet></router-outlet>
</div>