#head {
  padding: 10px;
  background-color: transparent;
  width: auto;
}

#img {
  vertical-align: middle;
  width: 50px;
}

#title {
  color: whitesmoke;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  margin-left: 4px;
  vertical-align: middle;
}

#about {
  color: gold;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
}

a {
  cursor: pointer;
  cursor: hand;
}

.navbar-brand {
  margin-left: 35px;
}

.navbar {
  width:100%;
  padding: 0;
  background:none !important;
}

.navbar-toggler {
  cursor:pointer;
  outline:0;
}

.nav-link {
  text-transform:uppercase;
  font-weight:bold;
}

.nav-item {
  padding: 0 1rem;
}

@media(max-width: 34em) {
  .navbar-brand {
    margin-left: 5px;
  }
}

@media(max-width: 34em) {
  .nav-item {
     padding: 0;
  }
}

@media(max-width: 34em) {
  .nav-link {
    margin-top: 10px;
    font-weight:normal;
    color:#fff !important;
  }
}


