#head {
  margin-top: 30px;
}

.card {
  min-width: 30em;
  max-width: 100em;
  margin: 0 auto;
  float: none;
  border-color: rgba(255, 255, 255, 0.2);
   background-color: transparent;
}

.card-header {
  background-color: transparent;
  color: gold;
  font-family: 'Questrial', sans-serif;
  font-size: 21px;
}

.carousel-control-prev {
  width: 5%;
}

.card-block {
  text-align: center;
}

.card-text {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

#img-coin{
  width: 150px;
  vertical-align: middle;
  margin-bottom: 10px;
}

#back {
  text-align: center;
  vertical-align: middle;
}

#rank {
  background-color: green;
  color: white;
  text-align: center!important;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;
}
