<div id="head">
  <div id="back">
    <a class="carousel-control-prev" routerLink="/home" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  </div>

  <div class="container">
    
    <div class="row">
       <div class="col-5">
       </div>
       <div class="col-4">
       </div>
       <div class="col-3">
         <p id="currency">Choose currency: </p>
          <select class="selectpicker" (click)="onChange($event.target.value)">            
              <option *ngFor="let item of currency">{{item}}</option>
            </select>
        </div>
          
    </div>

    <div class="row">
      <div class="card-deck">

        <div class="card" *ngFor="let coin of coins">

          <div class="card-header">{{coin.name}}</div>

          <div class="card-block">
            <img *ngIf="coin.name == 'Bitcoin'" src="./assets/image/coin-1.png" id="img-coin">
            <img *ngIf="coin.name == 'Ethereum'" src="./assets/image/coin-2.png" id="img-coin">
            <img *ngIf="coin.name == 'NEM'" src="./assets/image/coin-3.png" id="img-coin">
            <img *ngIf="coin.name == 'Stratis'" src="./assets/image/coin-4.png" id="img-coin">
            <img *ngIf="coin.name == 'Dash'" src="./assets/image/coin-5.png" id="img-coin">
            <img *ngIf="coin.name == 'Ethereum Classic'" src="./assets/image/coin-6.png" id="img-coin">
            <img *ngIf="coin.name == 'Litecoin'" src="./assets/image/coin-7.png" id="img-coin">
            <img *ngIf="coin.name == 'Monero'" src="./assets/image/coin-8.png" id="img-coin">
            <img *ngIf="coin.name == 'Ripple'" src="./assets/image/coin-9.png" id="img-coin">
            <img *ngIf="coin.name == 'IOTA'" src="./assets/image/coin-10.png" id="img-coin">
            <img *ngIf="coin.name == 'Bitcoin Cash'" src="./assets/image/coin-11.png" id="img-coin">
            <img *ngIf="coin.name == 'NEO'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/1376.png" id="img-coin">
            <img *ngIf="coin.name == 'qtum'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/qtum.png" id="img-coin">
            <img *ngIf="coin.name == 'BitConnect'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/bitconnect.png" id="img-coin">
            <img *ngIf="coin.name == 'Bitcoin Gold'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/bitcoin-gold.png" id="img-coin">
            <img *ngIf="coin.name == 'Cardano'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/2010.png" id="img-coin">
            <img *ngIf="coin.name == 'Stellar'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/512.png" id="img-coin">
            <img *ngIf="coin.name == 'EOS'" src="https://s2.coinmarketcap.com/static/img/coins/128x128/1765.png" id="img-coin">
            <img *ngIf="(coin.name !== 'Bitcoin Cash') 
                && (coin.name !== 'Bitcoin') 
                && (coin.name !== 'Ethereum')
                && (coin.name !== 'NEM')
                && (coin.name !== 'Stellar')
                && (coin.name !== 'EOS')
                && (coin.name !== 'Stratis')
                && (coin.name !== 'Dash')
                && (coin.name !== 'Ethereum Classic')
                && (coin.name !== 'Litecoin')
                && (coin.name !== 'Monero')
                && (coin.name !== 'Ripple')
                && (coin.name !== 'NEO')
                && (coin.name !== 'Qtum')
                && (coin.name !== 'BitConnect')
                && (coin.name !== 'Bitcoin Gold')
                && (coin.name !== 'Cardano')
                && (coin.name !== 'IOTA')" src="./assets/image/error.png" id="img-coin">
            <br>
            <span id="rank"> Rank {{ coin.rank }} </span>
          </div>

          <div class="card-block">
            <p *ngIf="coin.name == 'Bitcoin'" class="card-text">
              The first decentralized peer-to-peer payment network in which encryption techniques are used to regulate the generation of
              units of currency and verify the transfer of funds, all operating independently of a central bank.
            </p>
            <p *ngIf="coin.name == 'Ethereum'" class="card-text">
              An open-source, public, blockchain-based computing platform that enables developers to build and deploy decentralized applications.
              Ether (ETH), the crypto token that fuels the Ethereum network acts as a tradeable cryptocurrency and is used to pay for transaction 
              fees and services on the network.
            </p>
            <p *ngIf="coin.name == 'Ripple'" class="card-text">
              Both a digital currency (XRP) and a distributed real-time payment protocol within which that currency is transferred. Ripple's
              distributed technology aims to enable banks to send real-time international payments across networks; to meet growing demands 
              for faster, low-cost, on-demand global payment services.
            </p>
            <p *ngIf="coin.name == 'Bitcoin Cash'" class="card-text">
              A decentralized peer-to-peer payment network that came into existence as a result of a hard fork from the original bitcoin
              blockchain. Bitcoin Cash emerged after some of the leading backers disagreed on how to take Bitcoin further and are utilizing 
              a new proposal that consists of a new transaction type and an increase in block limit size.
            </p>
            <p *ngIf="coin.name == 'Litecoin'" class="card-text">
              An open-source peer-to-peer cryptocurrency that uses the scrypt proof of work algorithm as opposed to Bitcoin's hashing algorithm.
              Litecoin was originally created to improve upon Bitcoin by speeding up transaction confirmations.
            </p>
            <p *ngIf="coin.name == 'NEM'" class="card-text">
              A peer-to-peer cryptocurrency (XEM) and blockchain platform that has introduced new features in blockchain technology through
              its proof-of-importance (POI) algorithm, encrypted messaging system, multisignature accounts and Eigentrust++
              reputation system.
            </p>
            <p *ngIf="coin.name == 'Ethereum Classic'" class="card-text">
              An open-source, blockchain-based computing platform that came into existence as a result of the DAO hard-fork. Identical
              to Ethereum up to a certain block (block 1920000), Ethereum Classic consolidated members of the Ethereum community
              who rejected the fork.
            </p>
            <p *ngIf="coin.name == 'Dash'" class="card-text">
              An open-source peer-to-peer cryptocurrency that offers all the features of Bitcoin as well as other capabilities which include
              private transactions, instant transactions and decentralized governance.
            </p>
            <p *ngIf="coin.name == 'IOTA'" class="card-text">
              A new transactional settlement and data integrity layer for the Internet of Things. IOTA is based on a new distributed ledger
              architecture which aims to overcome inefficiencies of current Blockchain designs to introduce a new way of
              reaching peer-to-peer consensus.
            </p>
            <p *ngIf="coin.name == 'Monero'" class="card-text">
              An open-source cryptocurrency that is heavily focused on privacy, decentralisation and scalability. Monero is based on the
              CryptoNote protocol and has significant algorithmic differences to Bitcoin.
            </p>
            <p *ngIf="coin.name == 'Stratis'" class="card-text">
              Stratis is a Blockchain-as-a-service (BaaS) Platform, created to provide solutions for corporations in the financial 
              sector that want to enjoy the benefits of Blockchain technology. Stratis allows companies to create their custom blockchain
              applications with the features they require, making the development process simpler and accelerating the development
              lifecycle for blockchain projects.
            </p>
            <p *ngIf="coin.name == 'NEO'" class="card-text">
              China's first original and open-source public blockchain. Initially known as Antshares, Neo aims to support multiple 
              types of digital assets as well as allow users to establish smart contracts to enhance and enrich the functions of 
              said digital assets.
            </p>
            <p *ngIf="coin.name == 'Qtum'" class="card-text">
              Qtum is an open source Proof of Stake (PoS) blockchain application platform. Qtum’s core technology combines a fork of 
              Bitcoin Core, an Account Abstraction Layer allowing for multiple Virtual Machines including the Ethereum Virtual Machine 
              (EVM) and Proof-of-Stake consensus aimed at tackling industry use cases. 
            </p>
            <p *ngIf="coin.name == 'BitConnect'" class="card-text">
              BitConnect is an open source all in one bitcoin and crypto community platform designed to provide multiple investment 
              opportunities with cryptocurrency education where it is entirely possible to find the independence we all desire, in a 
              community of like-minded, freedom loving individuals who, like you, are seeking the possibility of income stability in 
              a very unstable world.
            </p>
            <p *ngIf="coin.name == 'Bitcoin Gold'" class="card-text">
              Bitcoin Gold is a fork of the Bitcoin blockchain. At block 491407, Bitcoin Gold miners will begin creating blocks with 
              a new proof-of-work algorithm, and this will cause a bifurcation of the Bitcoin blockchain. The original Bitcoin blockchain 
              will continue on unaltered, but a new branch of the blockchain will split off from the original chain. The new branch is a 
              distinct blockchain with the same transaction history as Bitcoin up until the fork, but then diverges from it. As a result 
              of this process, a new cryptocurrency is born.
            </p>
            <p *ngIf="coin.name == 'Cardano'" class="card-text">
              Cardano is a decentralised public blockchain and cryptocurrency project and is fully open source. Cardano is developing 
              a smart contract platform which seeks to deliver more advanced features than any protocol previously developed. It is the 
              first blockchain platform to evolve out of a scientific philosophy and a research-first driven approach. The development 
              team consists of a large global collective of expert engineers and researchers
            </p>
            <p *ngIf="coin.name == 'Stellar'" class="card-text">
              Stellar is a platform that connects banks, payments systems, and people. Integrate to move money quickly, reliably, and 
              at almost no cost.
            </p>
            <p *ngIf="coin.name == 'EOS'" class="card-text">
              The EOS.IO Testnet has arrived. Scalable decentralized applications can now be built and tested in a public environment.
            </p>
          </div>

          <div class="card-block">
            <a *ngIf="coin.name == 'Bitcoin'" href="https://bitcoin.org/bitcoin.pdf"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Bitcoin'" href="https://bitcoin.org/en/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Bitcoin'" href="https://github.com/bitcoin"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Ethereum'" href="https://github.com/ethereum/wiki/wiki/White-Paper"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Ethereum'" href="https://www.ethereum.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Ethereum'" href="https://github.com/ethereum"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Ripple'" href="https://ripple.com/files/ripple_consensus_whitepaper.pdf"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Ripple'" href="https://ripple.com/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Ripple'" href="https://github.com/ripple"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Litecoin'" href="https://litecoin.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Litecoin'" href="https://github.com/litecoin-project"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'NEM'" href="https://www.nem.io/NEM_techRef.pdf"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'NEM'" href="https://www.nem.io/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'NEM'" href="https://github.com/NemProject"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Ethereum Classic'" href="https://coss.io/documents/white-papers/ethereum-classic.pdf"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Ethereum Classic'" href="https://ethereumclassic.github.io/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Ethereum Classic'" href="https://github.com/ethereumclassic"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Dash'" href="https://www.dash.org/wp-content/uploads/2015/04/Dash-WhitepaperV1.pdf"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Dash'" href="https://www.dash.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Dash'" href="https://github.com/dashpay"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'IOTA'" href="https://iota.org/IOTA_Whitepaper.pdf"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'IOTA'" href="https://iota.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'IOTA'" href="https://github.com/iotaledger"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'NEO'" href="https://github.com/neo-project/neo/wiki/Whitepaper-1.1"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'NEO'" href="https://neo.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'NEO'" href="https://github.com/neo-project"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Monero'" href="https://getmonero.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'Monero'" href="https://github.com/monero-project"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'BitConnect'" href="https://bitconnect.co/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'Stellar'" href="https://www.stellar.org/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>

            <a *ngIf="coin.name == 'EOS'" href="https://medium.com/eosio/eos-io-dawn-2-0-released-development-update-c19348eac3c7"><img src="./assets/image/if_document_2318462.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'EOS'" href="https://eos.io/"><img src="./assets/image/if_office-47_809586.png" id="img-footer"></a>
            <a *ngIf="coin.name == 'EOS'" href="https://github.com/eosio"><img src="./assets/image/if_github_317712.png" id="img-footer"></a>

          </div>

        </div>

        <div class="card" *ngFor="let coin of coins">

          <div class="card-block" id="dados" style="background-color: rgba(0, 0, 0, 0.2);">

            <legend id="c_price">Current Price</legend>
            <p id="price" *ngIf="selectValue == 'USD'" >{{coin.price_usd | currency:'USD':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'AUD'" >{{coin.price_aud | currency:'AUD':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'BRL'" >{{coin.price_brl | currency:'BRL':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CAD'" >{{coin.price_cad | currency:'CAD':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CHF'" >{{coin.price_chf | currency:'CHF':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CNY'" >{{coin.price_cny | currency:'CNY':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'EUR'" >{{coin.price_eur | currency:'EUR':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'GBP'" >{{coin.price_gbp | currency:'GBP':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'HKD'" >{{coin.price_hkd | currency:'HKD':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'IDR'" >{{coin.price_idr | currency:'IDR':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'INR'" >{{coin.price_inr | currency:'INR':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'JPY'" >{{coin.price_jpy | currency:'JPY':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'KRW'" >{{coin.price_krw | currency:'KRW':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'MXN'" >{{coin.price_mxn | currency:'MXN':true:'1.2-2'}}</p>
            <p id="price" *ngIf="selectValue == 'RUB'" >{{coin.price_rub | currency:'RUB':true:'1.2-2'}}</p>

            <p id="_24h" *ngIf="coin.percent_change_24h < '0'" style="color:red">( {{coin.percent_change_24h}}% &darr;)</p>
            <p id="_24h" *ngIf="coin.percent_change_24h > '0'" style="color:greenyellow">( {{coin.percent_change_24h}}% &uarr;)</p>
            <legend id="c_price">Circulating Supply</legend>
            <p id="price">{{ coin.available_supply | number: '1.0-2'}}</p>
            <p id="price" style="margin-left:8px;">{{ coin.symbol }}</p>
            
            <legend id="c_price">Volume (24h)</legend>
            <p id="price" *ngIf="selectValue == 'USD'">{{coin['24h_volume_usd'] | currency:'USD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'AUD'">{{coin['24h_volume_aud'] | currency:'AUD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'BRL'">{{coin['24h_volume_brl'] | currency:'BRL':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CAD'">{{coin['24h_volume_cad'] | currency:'CAD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CHF'">{{coin['24h_volume_chf'] | currency:'CHF':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CNY'">{{coin['24h_volume_cny'] | currency:'CNY':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'EUR'">{{coin['24h_volume_eur'] | currency:'EUR':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'GBP'">{{coin['24h_volume_gbp'] | currency:'GBP':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'HKD'">{{coin['24h_volume_hkd'] | currency:'HKD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'IDR'">{{coin['24h_volume_idr'] | currency:'IDR':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'INR'">{{coin['24h_volume_inr'] | currency:'INR':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'JPY'">{{coin['24h_volume_jpy'] | currency:'JPY':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'KRW'">{{coin['24h_volume_krw'] | currency:'KRW':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'MXN'">{{coin['24h_volume_mxn'] | currency:'MXN':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'RUB'">{{coin['24h_volume_rub'] | currency:'RUB':true:'1.0-2'}}</p>
           

            <legend id="c_price">Market Cap</legend>           
            <p id="price" *ngIf="selectValue == 'USD'">{{ coin.market_cap_usd | currency:'USD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'AUD'">{{ coin.market_cap_aud | currency:'AUD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'BRL'">{{ coin.market_cap_brl | currency:'BRL':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CAD'">{{ coin.market_cap_cad | currency:'CAD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CHF'">{{ coin.market_cap_chf | currency:'CHF':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'CNY'">{{ coin.market_cap_cny | currency:'CNY':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'EUR'">{{ coin.market_cap_eur | currency:'EUR':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'GBP'">{{ coin.market_cap_gbp | currency:'GBP':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'HKD'">{{ coin.market_cap_hkd | currency:'HKD':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'IDR'">{{ coin.market_cap_idr | currency:'IDR':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'INR'">{{ coin.market_cap_inr | currency:'INR':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'JPY'">{{ coin.market_cap_jpy | currency:'JPY':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'KRW'">{{ coin.market_cap_krw | currency:'KRW':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'MXN'">{{ coin.market_cap_mxn | currency:'MXN':true:'1.0-2'}}</p>
            <p id="price" *ngIf="selectValue == 'RUB'">{{ coin.market_cap_rub | currency:'RUB':true:'1.0-2'}}</p>
         
         
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
