<div id="back">
<a class="carousel-control-prev" [routerLink]="['/home']" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
</div>

<div class="container">
<div class="row">
  <div class="col-6">

      <div class="card" *ngFor="let coin of coins">

        <div class="card-header">{{coin.name}}</div>
        <div class="card-block">
          <p class="card-text">The top resources for all things related to the Sun.</p>

        </div>

    </div>
  </div>

  <div class="col-6">

      <div class="card" *ngFor="let coin of coins">

        <div class="card-header">{{coin.name}}</div>
        <div class="card-block">
          <p class="card-text">The top resources for all things related to the Sun.</p>

        </div>

    </div>
  </div>
</div>
</div>
