<div id="head">
  <div id="back">
    <a class="carousel-control-prev" routerLink="/home" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  </div>

  <div class="container">

    <table class="table table-responsive " style="font-size:14px;">
      <thead style="color:azure">
        <tr class="default">
          <th>#</th>
          <th>Name</th>
          <th class="text-right">Price</th>
          <th class="text-right">Market Cap</th>
          <th class="text-right">Volume(24h)</th>
          <th class="text-right">Circulating Supply</th>
        <!-- <th class="text-center">Change 1h</th> -->
          <th class="text-center">Change 24h</th>
          <!--<th class="text-center">Change 7d</th>-->
          <th class="text-center">Update Time</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let coin of coinsV3" style="color:white;">
            <td class="text-center"><img src="https://www.cryptocompare.com{{coin.CoinInfo.ImageUrl}}" style="width:16px;"></td>

            <td class="text-left" style="color:gold">
              <a [routerLink]="['/selected', coin.CoinInfo.Name]" style="text-decoration:none">{{coin.CoinInfo.FullName}}</a>
            </td>

            <td class="text-right">{{coin.RAW.USD.PRICE | currency:'USD'}}</td>
            <td class="text-right">{{coin.RAW.USD.MKTCAP | currency:'USD'}}</td>
            <td class="text-right">{{coin.RAW.USD.TOTALVOLUME24H | currency:'USD'}}</td>
            <td class="text-right">{{ coin.RAW.USD.SUPPLY | number: '1.0-2'}}</td>
            <!--
            <td  *ngIf="coin.quotes.USD.percent_change_1h < '0'" style="color:red" class="text-center">{{coin.quotes.USD.percent_change_1h}}% &darr; </td>
            <td  *ngIf="coin.quotes.USD.percent_change_1h > '0'" style="color:greenyellow" class="text-center"> {{coin.quotes.USD.percent_change_1h}}% &uarr; </td>
            -->
            <td  *ngIf="coin.RAW.USD.CHANGEPCT24HOUR  < '0'"style="color:red" class="text-center"> {{coin.RAW.USD.CHANGEPCT24HOUR | number: '1.0-2'}}% &darr; </td>
            <td  *ngIf="coin.RAW.USD.CHANGEPCT24HOUR  > '0'"style="color:greenyellow" class="text-center"> {{coin.RAW.USD.CHANGEPCT24HOUR | number: '1.0-2'}}% &uarr; </td>
                     <!--
            <td  *ngIf="coin.quotes.USD.percent_change_7d < '0'" style="color:red" class="text-center"> {{coin.quotes.USD.percent_change_7d}}% &darr; </td>
            <td  *ngIf="coin.quotes.USD.percent_change_7d > '0'" style="color:greenyellow" class="text-center"> {{coin.quotes.USD.percent_change_7d}}% &uarr; </td>
            -->
            <td class="text-center" style="color:goldenrod; font-size:12px">{{ coin.RAW.USD.LASTUPDATE * 1000 | timeago }}</td>
 
          </tr>
      </tbody>
    </table>

  </div>

</div>
