#head {
  margin-top: 20px;
}

.carousel-control-prev {
  width: 3%;
   background-color: rgba(0, 0, 0, 0.2);
}

#back {
  text-align: center;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
}

a {
  cursor: pointer;
  cursor: hand;
}

